<div class="d-flex justify-content-center">

    <!-- onLoad(), en el evento load para indicar que el gif ya se cargo-->
    <!-- ngStyle es como el ngClass donde podemos colocar propiedades de css de forma condicional -->
    <!-- Usamos ngStyle en vez de *ngIf para que la imagen no se construya desde cero, sino que lo haga por css -->
    <img
        [src]="url"
        [alt]="alt"
        class="card-img-top animate__animated animate__fadeIn"
        (load)="onLoad()"
        [ngStyle]="{ display: hasLoaded ? '' : 'none' }"
    />

    <!-- Imagen de carga, *ngIf para dejar de mostrarlo cuando la imagen de arriba se cargo -->
    <img
        *ngIf="!hasLoaded"
        src="assets/loader.svg"
        height="35"
        width="35"
        class="mt-3"
    />

</div>
