<!-- Titulo -->
<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h3>Listado de propiedades</h3>
        <hr>
    </div>
</div>

<!-- Grid con la lista de casas -->
<div class="row mt-2">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <!-- Houses -->
            <div *ngFor="let house of houses"  class="col-4 mb-2">
                <div class="card">
                    <!-- La imagen será un mapa de la ubicación de la casa -->
                    <!-- <img src="..." class="card-img-top"> -->
                    <map-mini-map [lngLat]="house.lngLat" />
                    <!-- Titulo y descripción de la casa -->
                    <div class="card-body">
                        <h5 class="card-title">{{ house.title }}</h5>
                        <p class="card-text">{{ house.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
